<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>nutricion</title>
</head>
<body>

	<footer th:fragment="footer">
		
	<nav class="bg-dark text-white" >
		<div class="container">
			<div class="row">
				<div class="footer-logo col-xs-12 col-md-6 col-lg-3">
				<img th:src="@{/images/logopage.png}" alt="logo" width="270" height="60" >
				</div>
				<div class="col-xs-12 col-md-6 col-lg-3">
					<h4 class="footer-title">¿Quienes Somos?</h4>
					<p class="fw-light"> Nuestra mision es cuidar del bienestar del ser humano, cuidar su alimentacion
						para mejorar su bienestar y calidad de vida.
					</p>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-3">
					<h4 class="footer-title">Contactanos</h4>
					<p class="fw-light mb-1">Jujuy, Argentina</p>
					<p class="fw-light mb-1">Av. forestal 350</p>
					<p class="fw-light mb-1">Telefono: 3885732313</p>
					<p class="fw-light">nuestrasalud@gmail.com</p>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-3">
					<h4 class="footer-title">Mapa del Sitio</h4>
					<div class="mb-2">
					<a class="text-white text-decoration-none" th:href="@{/inicio}">Inicio</a>
					</div>
					<div class="mb-2">
					
		           <a class="nav-link dropdown-toggle navestilo" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Servicios
		           </a>
		           <ul class="dropdown-menu">
		             <li><a class="dropdown-item" th:href="@{/servicio/calcular_imc}">Calcular IMC</a></li>
		             <li><a class="dropdown-item" th:href="@{/servicio/peso_ideal}">Peso Ideal</a></li>
		           </ul>
		        
					</div>
					<div class="mb-2">
					<a class="text-white text-decoration-none" th:href="@{/Receta}">Recetas</a>
					</div>
					<div class="mb-2">
					<a class="text-white text-decoration-none" th:href="@{/testimonio/listado}">Testimonios</a>
					</div>
					<div class="mb-2">
					<a class="text-white text-decoration-none" href="/registrarme/formulario">Registrarse</a>
					</div>
				</div>
			</div>	
  		</div>	
    </nav>
	</footer>


</body>
</html>