<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Registrar Usuario</title>
		<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	<header th:replace="~{layouts/header :: header}"></header>
	<div class="container text-white">
		<div class="text-center">
			<h2 class="active">Formulario</h2>
		</div>
			<form th:action="@{/receta/guardar}" th:object="${unaReceta}" method="post" enctype="multipart/form-data">
				<div class="row justify-content-center">
					<div class="col-3">
						<input type="hidden" class="form-control" id="id" th:field="*{id}">
					</div><p>
					<div class="col-3">
						<label class="col-form-label" for="nombre">Nombre</label>
						<input autocomplete="off" class="form-control" type="text" id="nombre" name="usuario_nombre" th:field="*{nombre}">
						<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
					</div>
					<div class="col-3">
						<label for="file" class=form-label>Imagen de receta</label>
						<input type="file" name="file" id="file" class="form-control"
						 th:text="${unaReceta.imagen}"/>
					</div><p>
					<div class="col-3">
						<label for="ingrediente" class="col-form-label">Ingredientes</label>
						<select id="ingrediente" class=form-select name="receta_ingrediente" aria-label="Default select-example" th:field="*{ingredientes}" multiple>
							<option th:each="i: ${ingredientes}" th:value=${i.id}
							th:text="${i.nombre}"></option>
						</select>
						<div class="text-danger" th:if="${#fields.hasErrors('ingredientes')}" th:errors="*{ingredientes}"></div>
					</div>
					<div class="col-3">
						<label class="col-form-label" for="categoria">Categoria</label>
						<select id="categoria" class="form-select" name="receta_categoria" aria-label="Default select-example" th:field="*{categoria}">
							<option selected value="">Seleccione categoria</option>
							<option value="Carnes">Carnes</option>
							<option value="Ensaladas">Ensaladas</option>
							<option value="Legumbres_Cereales">Legumbres y Cereales</option>
							<option value="Croquetas">Croquetas</option>
							<option value="Pan">Pan</option>
							<option value="Arroces">Arroz</option>
						</select>
						<div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
					</div><p>
					<div class="col-6">
						<label class="col-form-label" for="preparacion">Preparacion</label>
						<textarea autocomplete="off" class="form-control" id="preparacion" name="receta_preparacion" th:field="*{preparacion}"></textarea>
						<div class="text-danger" th:if="${#fields.hasErrors('preparacion')}" th:errors="*{preparacion}"></div>
					</div><p>
					<div class="col-6 text-center mb-4">
						<input type="submit" value="Guardar" class="btn btn-success btn-lg btn-block mt-3" style="width:100%" />
					</div>
				</div>
			</form>
	</div>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>