<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Receta</title>
		<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="container">
			<div class="row">
				<div class="col-md-3 ms-md-auto">
					<img th:src="@{/images/arroz.jpg}" class="img-thumbnail">
					<h5>RECETA DE ARROCES</h5>
					<span>Descubre los platos que</span>
					<span>puedes preparar con el arroz.</span>
					<a th:href="@{/receta/Arroces}">ver mas</a>
				</div>
				<div class="col-md-3 ms-md-auto">
					<img th:src="@{/images/carne.jpg}" class="img-thumbnail">
					<h5>RECETA DE CARNES</h5>
					<span>La carne se puede preparar de muchas maneras.</span>
					<span>Descubrelas con nuestras recetas.</span>
					<a th:href="@{/receta/Carnes}">ver mas</a>
				</div>
				<div class="col-md-3 ms-md-auto">
					<img th:src="@{/images/croqueta.jpg}" class="img-thumbnail">
					<h5>RECETA DE CROQUETAS Y ALBONDIGAS</h5>
					<span>Estas son las mejores recetas de croquetas</span>
					<span>y albondigas, pruébalas de danos tu opinión</span>
					<a th:href="@{/receta/Croquetas}">ver mas</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 ms-md-auto">
					<img th:src="@{/images/ensalada.jpg}" class="img-thumbnail">
					<h5>RECETAS DE ENSALADAS</h5>
					<span>¡¡La cantidad de ensaladas que puedes llegar</span>
					<span>a preparar con nuestras recetas!!</span>
					<a th:href="@{/receta/Ensaladas}">ver mas</a>
				</div>
				<div class="col-md-3 ms-md-auto">
					<img th:src="@{/images/legumbre.jpg}" class="img-thumbnail">
					<h5>RECETAS DE LEGUMBRES</h5>
					<span>Las legumbres son muy sanas, estan compuestas</span>
					<span>por proteinas, hidratos de carbono, lípidos,</span>
					<span>fibra, minerales y vitaminas</span>
					<a th:href="@{/receta/Legumbres_Cereales}">ver mas</a>
				</div>
				<div class="col-md-3 ms-md-auto">
					<img th:src="@{/images/pan.png}" class="img-thumbnail">
					<h5>RECETAS DE PAN</h5>
					<span>El pan es un producto que es necesario en</span>
					<span>nuestra dieta. Hay infinitas maneras de</span>
					<span>aqui le mostramos algunas,</span>
					<a th:href="@{/receta/Pan}">ver mas</a>
				</div>
			</div>
		</div>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	</body>
</html>